[submodule "pathogen.vim"]
	path = pathogen.vim
	url = git://github.com/tpope/vim-pathogen
[submodule "gitgutter.vim"]
	path = gitgutter.vim
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "neocomplete.vim"]
	path = neocomplete.vim
	url = git://github.com/shougo/neocomplete.vim
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim
[submodule "scala.vim"]
	path = scala.vim
	url = git://github.com/derekwyatt/vim-scala
[submodule "airline.vim"]
	path = airline.vim
	url = git://github.com/vim-airline/vim-airline
[submodule "sierra"]
	path = sierra
	url = git://github.com/AlessandroYorba/Sierra
